@tailwind base;
@tailwind components;
@tailwind utilities;




@layer components{
    

    .filter-item {
        @apply text-white bg-gray-800 hover:bg-gray-900 transition-opacity cursor-pointer  px-3 py-1 rounded-lg
    } 
    .sidebar-item {
        @apply gap-9 my-1 px-4 py-2 pr-7 rounded-lg hover:bg-gray-800 w-full  hover:cursor-pointer  stroke-primary text-primary flex items-center
    }

    .hover-bg{
        @apply hover:bg-slate-500 cursor-pointer w-9 h-9 px-2  transition-colors
    }
    .text-main-title {
        @apply text-primary font-semibold text-lg sm:text-sm max-w-[280px]
    }

    .text-recomment-title {
        @apply text-primary font-semibold text-lg
    }

    .text-sub-title {
        @apply text-secondary  
    }
f
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
    
    /* For IE, Edge and Firefox */
    .scrollbar-hide {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}

